body {
  min-height: 100%;
  position: relative;
  padding-bottom: 100px;
  background-color: #85D4B7;
  color: #000000;
  font-family: tahoma;
  font-size: 12pt;
}

h1 {
  font-family: georgia;
  font-weight: bold;
  font-size: 20pt;
  word-spacing: -1px;
  text-align: center;
  padding-bottom: 8pt;
}

#formulario {
  margin: 0 auto;
  width: 30%;
  background-color: #E6E6E6;
  padding: 2em;
  margin-top: 2em;
}

.input {
  margin: 0px 10px;
  float: right;
  width: 40%;
}

.item-formulario {
  display: block;
  padding: 5px 0px;
}

#boton {
  background-color: #6DCCAA;
  border: none;
  color: white;
  padding: 15px 32px;
  margin: 10px auto;
  text-align: center;
  position: relative;
  text-decoration: none;
  font-size: 16px;
}
