html {
  height: 100%;
}

body {
  min-height: 100%;
  position: relative;
  padding-bottom: 100px;
  color: #000000;
  font-family: tahoma;
  font-size: 12pt;
}

header {
  background-color: #85D4B7;
  width: 100%;
  padding: 1em 1em;
  display: inline-block;
}

.item-cabecera {
  color: #FFFFFF;
  display: inline-block;
}

.logo {
  text-align: left;
}

.seccion {
  width: 150px;
  display: inline-block;
  text-align: center;
  font-size: 16pt;
  text-transform: lowercase;
}

.seccion a, .seccion a:visited {
  color: #FFFFFF;
  text-decoration: none;
}

#carrusel-container {
  background-color: #6DCCAA;
}

#subtitulo {
  /* parte de contacto, redes sociales y frase */
  width: 100%;
  display: inline-block;
  background-color: #6DCCAA;
  color: #FFFFFF;
  height: 100px;
    box-sizing: border-box;
}

.bajada {
  box-sizing: border-box;
  display: inline-block;
  font-weight: bold;
  font-size: 12pt;
  height: 100%;
}

.izquierda {
  padding: 35px 40px;
  width: 20%;
  float: left;
}

.centro {
  padding: 35px 40px;
  width: 60%;
  text-align: center;
}

.derecha {
  padding: 25px 40px;
  width: 20%;
  float: right;
  text-align: right;
}

.columna {
  position: relative;
  width: 50%;
  float: left;
  padding: 2em;
  margin-bottom: 100px;
}

.columna img {
  padding: 20px 0 20px 0;
  max-width: 300px;
  max-height: 300px;
}

.lateral-izq {
  text-align: right;
}

.lateral-der {
  text-align: left;
}

h1 {
  font-size: 20pt;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 10pt;
}

h2 {
  font-size: 16pt;
  text-transform: uppercase;
  line-height: 10pt;
}

hr {
  width: 100%;
  border: 2px solid #000000;
}

#boton, #boton a, #boton:hover {
  background-color: #6DCCAA;
  width: 20%;
  border: none;
  color: white;
  padding: 15px 32px;
  margin: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

#gallery {
  background-color: #6DCCAA;
  width: 70%;
  margin: 0 auto;
}

.thumbnail {
  max-height: 200px;
  float: left;
}

footer {
  background-color: #E6E6E6;
  position: absolute;
  width: 100%;
  height: 100px;
  color: #000000;
  bottom: -1200px;
  left: 0px;
  text-align: left;
  padding: 40px;
}

@media screen and (max-width: 1024px) {
  .seccion, .columna, .derecha {
    width: 100vw;
  }

  .izquierda, .centro {
    display: none;
  }

  .derecha {
    text-align: center;
  }

  .columna {
    padding: 10px;
  }

  footer {
    bottom: -2700px;
  }

}

#c-imag img{
    display: block;
    max-height: 400px;
    width: auto;
    margin: auto;
}
